.header{
    display: flex;
    align-items: center;
    color: palevioletred;
    width: 25%;
    margin-top: 45px;
    border-radius: 15px;
}
.header h2{
    font-size: 25px;
}

.header img{
    width: 15%;
    height: 15%;
}
h3{
    color: seagreen;
    font-size: 20px;
}
.header-info{
    margin-left: 40px;
}